<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a568dc28-258f-4ccd-9d9e-92910dc094e4" wadlVersion="http://wadl.dev.java.net/2009/02" name="Version 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a568dc28-258f-4ccd-9d9e-92910dc094e4fileName">Version-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:31013</con:endpoint><con:endpoint>https://mypopplus.azurewebsites.net</con:endpoint></con:endpoints></con:interface>